@page "/"
@attribute [Authorize(Policy = "GroupMembership")]

@using Azure
@using Azure.Core
@using Azure.Storage
@using Azure.Storage.Blobs
@using Azure.Storage.Blobs.Models
@using System.Timers
@using Microsoft.Graph
@using Microsoft.Graph.Models
@using Microsoft.Kiota.Abstractions.Authentication
@using FileTransferService.Spa.Hosted.Client.Models

@inject IHttpClientFactory HttpClientFactory
@inject IHostApiService HostApiService
@inject IAuthenticationProvider AuthenticationProvider
@inject IConfiguration Configuration
@inject IJSRuntime JS

<PageTitle>Crucible File Transfer Service (CFTS)</PageTitle>

<div class="mt-2 ps-5 pe-5">
    <div style="min-height: 10em; margin-top: 1em;">
        <div class="mb-3">
            <label class="mb-1 text-secondary" for="uploadFileInput" id="uploadFileLabel">Select a file to upload <span style="color: crimson;">(Max size 1TB)</span>:</label>
            <InputFile class="form-control" @key="@(uploadFileInputKey)" id="uploadFileInput" OnChange="@OnFileSelectionChange" disabled="@(isUploading)"></InputFile>
        </div>

        @if (isUploading)
        {

            <div class="mb-3">
                <div class="progress">
                    <div class="progress-bar" style="width: @progressValue">@progressValue</div>
                </div>
                <div class="text-end small text-secondary">
                    <span>@bytesTransferred of @currentSelectedFileSize</span>
                </div>
            </div>
        }

        <div class="mb-3 text-secondary alert alert-warning">
            <span>Note: Ensure ingress files do not have file names containing CUI information.</span>
        </div>

        @if(hasOnBehalfOfRole)
        {
            @if(isAdvancedDisplayed)
            {
                <div class="mb-1">
                    <InputCheckbox class="form-check-input" id="onBehalfOfInputCheckBox" @bind-Value="isOnBehalfOf" disabled="@(isUploading)" @onclick="() => onBehalfOf = String.Empty"></InputCheckbox>
                    <label class="text-secondary form-check-label" for="onBehalfOfInputCheckBox">On behalf of:</label>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" list="usersDatalist" id="onBehalfOfInputText" placeholder="Type user name" required="@isOnBehalfOf" disabled="@(isUploading || !isOnBehalfOf)" @oninput="@HandleOnBehalfOfInput" @bind="@onBehalfOf" />
                    <datalist id="usersDatalist">
                        @if (users != null && users.Count > 0)
                        {
                            @foreach (var user in users)
                            {
                                <option value="@user.UserPrincipalName">@user.DisplayName</option>
                            }
                        }
                        else
                        {
                            <option value="No users found"></option>
                        }
                    </datalist>
                </div>
                <div>
                    <a href="" style="text-decoration:none;" @onclick="() => isAdvancedDisplayed = !isOnBehalfOf ? false : true">Hide Advanced</a>
                </div>
            }
            else
            {
                <div>
                    <a href="" style="text-decoration:none;" @onclick="() => isAdvancedDisplayed = true">Show Advanced</a>
                </div>
            }

        }

        <div style="text-align:end">
            <button class="btn btn-primary" id="uploadFileSubmitButton" type="submit" @onclick="@Upload" disabled="@(!isValid || isUploading)">
                @if (isUploading)
                {
                    <span class="spinner-grow spinner-grow-sm"></span>
                }
                Upload
            </button>
        </div>
    </div>
    <div style="border-top: #ccc solid 1px; margin-top: 2em; padding-top: 2em;">
        <TabControl>

            <TabPage Title="General">
                <div class="d-flex justify-content-around mt-5">
                    <div class="card" style="width: 18em; min-height: 16em;">
                        <div class="card-header">Frequently Asked Questions</div>
                        <div class="card-body">
                            <p class="card-text text-secondary">Have questions about the Crucible File Transfer Service? Please visit our FAQ by clicking the link below.</p>
                            <NavLink class="nav-link card-link" href="faq">FAQ</NavLink>
                        </div>
                    </div>
                    <div class="card" style="width: 18em; min-height: 16em;">
                        <div class="card-header">User's Guide</div>
                        <div class="card-body">
                            <p class="card-text text-secondary">Want detailed guidance on the use of the Crucible File Transfer Service? Please download the "User's Guide'" by clicking the link below.</p>
                            <a href="./Downloads/User Guide.pdf" download class="card-link">Download User's Guide</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18em; min-height: 16em;">
                        <div class="card-header">Report an Issue</div>
                        <div class="card-body">
                            <p class="card-text text-secondary">Did you run in to an issue? Please message the TC support channel using the "@@tchelp" tag.</p>
                            <a href="https://chat.il4.dso.mil/usaf-76-sweg/channels/tcsupport" class="card-link">Message support</a>
                        </div>
                    </div>
                </div>

            </TabPage>

            <TabPage Title="Transfers">

                <TransferEventsList UserPrincipalName=@currentUser?.UserPrincipalName></TransferEventsList>

            </TabPage>

        </TabControl>
    </div>

</div>


@code {
    private AppSettings? appSettings;
    private User? currentUser;
    private List<User> users = new List<User>();
    private GraphServiceClient? graphClient;

    private long maxFileSize = 1099511627776;
    private bool exceedsMaxFileSize = false;

    private bool isValid = false;
    private bool isUploading = false;
    private bool isAdvancedDisplayed = false;
    private bool isOnBehalfOf = false;
    private bool hasOnBehalfOfRole = false;
    private string onBehalfOf = "";
    private string progressValue = "0%";
    private string bytesTransferred = "0";
    private string currentSelectedFileSize = "0";

    private Timer DelayedHideProgressBarTimer = new Timer
        {
            Interval = 2000,
            AutoReset = false,
            Enabled = true
        };

    private IBrowserFile? currentFile;
    public Guid uploadFileInputKey;

    protected override async Task OnInitializedAsync()
    {
        DelayedHideProgressBarTimer.Elapsed += OnDelayedHideProgressBar;
        appSettings = await HostApiService.GetAppSettingsAsync();

        var userGroups = Configuration.GetSection("MicrosoftGraph:Groups").Get<List<UserGroup>>();

        graphClient = new GraphServiceClient(
            HttpClientFactory.CreateClient("DefaultHttpClient"),
            AuthenticationProvider,
            Configuration.GetSection("MicrosoftGraph")["BaseUrl"]
        );
        currentUser = await graphClient.Me.GetAsync();
        DirectoryObjectCollectionResponse? currentUserDirectoryObjectCollectionResponse = await graphClient.Me.TransitiveMemberOf.GetAsync();

        string privilegedUserGroupId = userGroups.FirstOrDefault(x => x.Name == "File Transfer Service Priviledged Users").Id;
        hasOnBehalfOfRole = currentUserDirectoryObjectCollectionResponse.Value.Exists(x => x.Id == privilegedUserGroupId);

    }

    [CascadingParameter]
    public AlertControl? Alert { get; set; }

    private void OnProgressUpdated(Object sender, ProgressUpdatedEventArgs e)
    {
        bytesTransferred = e.BytesTransferred.ToString();
        progressValue = e.PercentageAsFormattedString;
        StateHasChanged();
    }

    private void OnDelayedHideProgressBar(Object sender, ElapsedEventArgs e)
    {
        isUploading = false;
        progressValue = "0%";
        bytesTransferred = "0";
        currentSelectedFileSize = "0";
        StateHasChanged();
        DelayedHideProgressBarTimer.Stop();
    }

    private void OnFileSelectionChange(InputFileChangeEventArgs e)
    {
        isValid = Validate(e.File);
        if (isValid)
        {
            currentSelectedFileSize = e.File.Size.ToString();
            currentFile = e.File;
        }
    }

    private async Task HandleOnBehalfOfInput(ChangeEventArgs e)
    {
        string filter = e.Value?.ToString();
        if(string.IsNullOrEmpty(filter))
        {
            users.Clear();
            return;
        }
        var userCollectionResponse = await graphClient.Users
            .GetAsync(options =>
                {
                    options.QueryParameters.Top = 50;
                    options.QueryParameters.Select = new string[] { "DisplayName", "UserPrincipalName" };
                    options.QueryParameters.Filter = $"startswith(DisplayName, '{filter}')";
                }
            );
        users = userCollectionResponse?.Value;
    }

    private async Task Upload()
    {
        if(isOnBehalfOf)
        {
            string inputControlId = "onBehalfOfInputText";
            if (!(await JS.InvokeAsync<bool>("validateOnBehalfOfInputText", inputControlId)))
            {
                return;
            }
        }

        try
        {
            if (appSettings != null
                && appSettings.UploadStorageAccountName != null
                && appSettings.UploadContainerName != null
                && appSettings.UploadStorageAccountSasToken != null
                && currentFile != null)
            {
                string baseStoragePath = "blob.core.usgovcloudapi.net";
                var accountName = appSettings.UploadStorageAccountName;
                var uploadContainer = appSettings.UploadContainerName;
                var sasToken = appSettings.UploadStorageAccountSasToken;

                string path = $"https://{accountName}.{baseStoragePath}/{uploadContainer}/{currentFile.Name}";
                var azureBlobUri = new Uri(path);

                AzureSasCredential sasCredentials = new AzureSasCredential(sasToken);
                BlobClient blobClient = new BlobClient(azureBlobUri, sasCredentials, new BlobClientOptions() { Retry = { Mode = RetryMode.Exponential, MaxRetries = 100 }});

                UploadProgressHandler uploadProgressHandler = new UploadProgressHandler
                    {
                        FileSize = currentFile.Size
                    };
                uploadProgressHandler.ProgressUpdated += OnProgressUpdated;

                string onBehalfOfUserPrincipalName = "";
                string onBehalfOfUserId = "";

                if (isOnBehalfOf)
                {
                    var onBehalfOfUser = await graphClient.Users[onBehalfOf].GetAsync();
                    if (onBehalfOf == null)
                    {
                        throw new Exception("On Behalf Of user not found");
                    }
                    onBehalfOfUserPrincipalName = onBehalfOfUser.UserPrincipalName;
                    onBehalfOfUserId = onBehalfOfUser.Id;
                }   

                BlobUploadOptions blobUploadOptions = new BlobUploadOptions
                    {
                        HttpHeaders = new BlobHttpHeaders
                        {
                            ContentType = currentFile.ContentType
                        },
                        TransferOptions = new StorageTransferOptions
                        {
                            InitialTransferSize = 1024 * 1024 * 20,
                            MaximumConcurrency = 20,
                            MaximumTransferSize = 1024 * 1024 * 20
                        },
                        Metadata = new Dictionary<string, string>
                        {
                            { "userprincipalname", currentUser.UserPrincipalName },
                            { "userid", currentUser.Id },
                            { "onbehalfofuserprincipalname", onBehalfOfUserPrincipalName },
                            { "onbehalfofuserid", onBehalfOfUserId },
                            { "originationdatetime", DateTime.UtcNow.ToString() },
                            { "transferid", Guid.NewGuid().ToString() },
                            { "destinationimpactlevel", EnvironmentImpactLevel.IL5.ToString() }
                        },
                        ProgressHandler = uploadProgressHandler
                    };

                isUploading = true;
                Alert?.Show("Please do not close or refresh the browser until the upload is complete.", "warning");

                TransferInfo transferInfo = new TransferInfo
                {
                    TransferId = Guid.Parse(blobUploadOptions.Metadata["transferid"]),
                    OriginatingUserPrincipalName = blobUploadOptions.Metadata["userprincipalname"],
                    OnBehalfOfUserPrincipalName = blobUploadOptions.Metadata["onbehalfofuserprincipalname"],
                    OriginationDateTime = DateTime.Parse(blobUploadOptions.Metadata["originationdatetime"]),
                    FileName = currentFile.Name,
                    FilePath = uploadContainer,
                    ImpactLevel = (EnvironmentImpactLevel)Enum.Parse(typeof(EnvironmentImpactLevel), blobUploadOptions.Metadata["destinationimpactlevel"]),
                };

                await HostApiService.SendUploadInitiatedEventAsync(transferInfo);
                await blobClient.UploadAsync(currentFile.OpenReadStream(maxFileSize), blobUploadOptions);
                Reset();
                await HostApiService.SendUploadCompletedEventAsync(transferInfo);

            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private bool Validate(IBrowserFile file)
    {
        if (file != null)
        {
            exceedsMaxFileSize = !(file.Size < maxFileSize);
            if (!exceedsMaxFileSize)
            {
                return true;
            }
            return false;
        }
        return false;
    }

    private void Reset()
    {
        uploadFileInputKey = Guid.NewGuid();
        currentFile = null;
        exceedsMaxFileSize = false;
        isValid = false;
        isOnBehalfOf = false;
        onBehalfOf = "";
        Alert?.Hide();

        DelayedHideProgressBarTimer.Start();

    }
}
